
#logo {
	padding-left: 400px;
	padding-top: 30%;
    padding-bottom: 30%;
}

.title {
	font-family: 'Kaushan Script', cursive;
	font-size: 55px;
	padding-left: 35px;
	color: white;
}

 #title-2 {
	font-family: 'Kaushan Script', cursive;
	font-size: 95px;
	padding-left: 95px;
	color: white;
}
mark.red{
	color: #b30000;
	background-color: black;
}

#h3 {
	padding-left: 80px;
	color: white;
}

#tables {
	background-color: #cc0000;
	border: none;

}

#reserve-btn {
	float: right;
	background-color: #cc0000;
	border: none;
}

#bistro {
	height: 600px;
	width: 900px;
	padding-left: 150px;
}

#jumbotron-main {
	background-color: black;
}

#matt {
	
	border: solid;
	border-color: #cc0000;
	position: center;
	margin-left: 100px;
}

#matt-contain {
	width: 2000px;
}

#about-tag {
	font-size: 60px;
	color: #cc0000;
	font-family: 'Playfair Display SC', serif;
}

#about-jumbo {
	background-color: black;
	width: 100%;
	height: 100%;
}

#matt-btn {
	background-color: #cc0000;
}